<% layout('layouts/layout') %>

<div class="row">
    <div class="column">
      <img style="height: 50%;" src="https://www.w3schools.com/w3images/underwater.jpg" style="width:100%">
      <img  style="height: 50%;" src="https://www.w3schools.com/w3images/underwater.jpg" style="width:100%">
    </div>
    <div class="column">
      <img style="height: 25%;"src="https://www.w3schools.com/w3images/ocean.jpg" style="width:100%">
      <img style="height: 50%;"src="https://www.w3schools.com/w3images/underwater.jpg" style="width:100%">
      <img style="height: 25%;"src="https://www.w3schools.com/w3images/ocean.jpg" style="width:100%">
    </div>
    <div class="column">
      <img  style="height: 60%;" src="https://www.w3schools.com/w3images/underwater.jpg" style="width:100%">
      <img  style="height: 40%;"src="https://www.w3schools.com/w3images/underwater.jpg" style="width:100%">
    </div>
    <div class="column">
      <img style="height: 75%;" src="https://www.w3schools.com/w3images/rocks.jpg" style="width:100%">
      <img style="height: 25%;" src="https://www.w3schools.com/w3images/ocean.jpg" style="width:100%">
    </div>
  </div>
