<div class="bg-white">
    <nav class="flex flex-col sm:flex-row navbar">
        <a href="/" class="text-gray-600 py-4 px-10 ml-10 block hover:text-yellow-500 focus:outline-none">
        Home
        </a>

        <a href="/clubs" class="text-gray-600 py-4 px-10 block hover:text-yellow-500 focus:outline-none text-yellow-500 border-b-2 font-medium border-yellow-500">
        Clubs
        </a>

        <a href="/teams" class="text-gray-600 py-4 px-10 block hover:text-yellow-500 focus:outline-none">
        Team
        </a>

        <a href="/facilities" class="text-gray-600 py-4 px-10 block hover:text-yellow-500 focus:outline-none">
        Facilities
        </a>

        <a href="/spardha" class="text-gray-600 py-4 px-10 block hover:text-yellow-500 focus:outline-none">
        Spardha
        </a>

        <a href="/alumni" class="text-gray-600 py-4 px-10 block hover:text-yellow-500 focus:outline-none">
        Alumni
        </a>

        
    </nav>
  </div>
