<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports Board</title>

    <!--tailwind and fontawesome-->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
</head>

<body>
  
    <main>
        <%- body %>
    </main>
    <!--<%- include('../partials/footer')%>-->
    <script src='/javascripts/validateForms.js'></script>
</body>

</html>
