<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sports Board</title>

  <!--tailwind and fontawesome-->
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
  <style>
    @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

    /* navbar */
    .navbar {
      font-family: Basier Circle;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #1E2532;
    }

    /* about */
    .about-header {
      font-family: Basier Circle;
      font-style: normal;
      font-weight: 600;
      font-size: 34px;
      line-height: 44px;
      letter-spacing: 0.0038em;
    }

    .about {
      width: 850px;
      margin-right: 6rem;
      font-family: Red Hat Display;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.62px;
      color: #1E2532;
    }

    .what-we-do {
      width: 850px;
      font-family: Red Hat Display;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.0075em;
      color: #1E2532;
    }
    .bg-event {
      background: #1E2532;
    }

    .header {
      font-family: Basier Circle;
      font-style: normal;
      font-weight: 600;
      font-size: 34px;
      line-height: 44px;
      display: flex;
      align-items: center;
      letter-spacing: 0.0038em;
      color: #FFFFFF;
    }

    .content {
      position: static;
      width: 200px;
      height: 19px;
      left: 0px;
      font-family: Red Hat Display;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 30px;
      letter-spacing: 0.08em;
      color: #9FABB7;
      flex: none;
      order: 1;
      flex-grow: 0;
    }

    .event-header {
      width: 850px;
      margin-right: 6rem;
    }

    .event-text {
      background: #2170E8;
      border-radius: 0px 0px 5px 5px;
      color: #ffffff;
    }

    .sub-event-header{
      font-family: Basier Circle;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 0.0322em;
      color: #FFFFFF;
    }
    .event-dates{
      font-family: Red Hat Display;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 0.0075em;
      color: #FFFFFF;
    }
    .event-arrow{
     margin-left: 80%;
     margin-top: 70%;
     color: #2170E8;
     background-color: #ffffff;
     text-align: center;
     width: 20px;
     height: 24px;
     border-radius: 2px;

    }
    .copy {
      font-family: Red Hat Display;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      letter-spacing: 0.0075em;
      color: #9FABB7;
    }
    .footer {
      font-family: Basier Circle;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      letter-spacing: 0.0322em;
      color: #FFFFFF;
    }
  </style>
</head>

<body>

  <main>
    <%- body %>
  </main>
  <!--<%- include('../partials/footer')%>-->
  <script src='/javascripts/validateForms.js'></script>
</body>

</html>
