<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sports Board</title>

  <!--tailwind and fontawesome-->
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
  <!-- swiper -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
 <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <style>
    @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

    body{
      max-width: 1440px;
      margin: 0px auto;
    }

    /* Image gallery */
    .row {
      display: -ms-flexbox; /* IE10 */
      display: flex;
      -ms-flex-wrap: wrap; /* IE10 */
      flex-wrap: wrap;
      height: 683px;
}

/* Create four equal columns that sits next to each other */
     .column {
      -ms-flex: 25%; /* IE10 */
      flex: 25%;
      max-width: 25%;
     }
    
    .column img {
      vertical-align: middle;
      width: 100%;
    }
    /* navbar */
    .navbar {
      font-family: Basier Circle;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #1E2532;
    }

    /* about */
    .about-header {
      font-family: Basier Circle;
      font-style: normal;
      font-weight: 600;
      font-size: 34px;
      line-height: 44px;
      letter-spacing: 0.0038em;
    }

    .about-container{
      margin-top: 5%;
      padding-left: 8.86%;
      margin-bottom: 8%;
    }
    .about {
      width: 850px;
      margin-right: 6rem;
      font-family: Red Hat Display;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.62px;
      color: #1E2532;
    }

    .what-we-do {
      width: 850px;
      font-family: Red Hat Display;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.0075em;
      color: #1E2532;
    }

    .header {
      font-family: Basier Circle;
      font-style: normal;
      font-weight: 600;
      font-size: 34px;
      line-height: 44px;
      display: flex;
      align-items: center;
      letter-spacing: 0.0038em;
      color: #FFFFFF;
    }

    .content {
      position: static;
      width: 14%;
      height: 3%;
      left: 0px;
      font-family: Red Hat Display;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 30px;
      letter-spacing: 0.08em;
      color: #9FABB7;
      flex: none;
      order: 1;
      flex-grow: 0;
      padding-top: 3.75%;
    }

    .vl {
  border-left: 1px solid #9FABB7;
  height: 1.5rem;
}

    .event-box{
      height: 962px;
      background: #1E2532;
      padding-left: 8.86%;
    }
    .event-header {
     
     width: 68%;
     padding-top: 8.63%;
     margin-right: 12.65%;
    }

    .event-footer{
      margin-top: 7%;
      height: 9.14%;
      margin-bottom: 0;
      bottom: 0;
      display: flex;
      align-items: center;
    }

    .event-text {
      background: #2170E8;
      border-radius: 0px 0px 5px 5px;
      color: #ffffff;
      height: 31%;
    }

    .sub-event-header{
      font-family: Basier Circle;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 0.0322em;
      color: #FFFFFF;
    }
    .event-dates{
      font-family: Red Hat Display;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 0.0075em;
      color: #FFFFFF;
    }
    .event-arrow{
     margin-left: 80%;
     margin-top: 70%;
     color: #2170E8;
     background-color: #ffffff;
     text-align: center;
     width: 20px;
     height: 24px;
     border-radius: 2px;

    }
    .copy {
      font-family: Red Hat Display;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      letter-spacing: 0.0075em;
      color: #9FABB7;
    }
    .footer {
      font-family: Basier Circle;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      letter-spacing: 0.0322em;
      color: #FFFFFF;
    }

      .swiper-button-prev{
        color: #ffffff;
      }
      .swiper-button-next{
        color: #ffffff;
      }

      @media only screen and (max-width: 700px) {
  body {
    
  }

}
  </style>
</head>

<body>

  <main>
    <%- body %>
  </main>
  <!--<%- include('../partials/footer')%>-->
  <script src='/javascripts/validateForms.js'></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        
        // spaceBetween: 30,

        breakpoints: {
        // when window width is <= 499px
        700: {
            slidesPerView: 1.55,
            // spaceBetweenSlides: 50
        },
        400:{
          slidesPerView: 1.05,
        },
        },
        loop: true,
        pagination: {
          el: ".swiper-pagination",
          // clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>

</body>

</html>
