<% layout('layouts/layout') %>
<%- include('../partials/carousel')  %>
<%- include('../partials/navbar') %>


  <div class=" team-struc mx-auto pt-16 pb-40 pl-12 pr-2 items-stretch " style="height:30%; width:100%" >

      <h1 class="team-header text-white text-2xl bold">Team Structure</h1>
<div class=" team-buttons sm:justify-center sm:ml-2 sm:pl-12 sm:m-2 sm:gap-4 lg:flex lg:justify-start  lg:pl-12 lg:gap-2">
      <button class="bg-white mt-2 mr-2 hover:bg-blue-900 hover:text-white py-2 px-2 rounded-md">Student's Affairs Office</<button >
        <button class="bg-white mt-2 mr-2 hover:bg-blue-900 hover:text-white py-2  px-2 rounded-md" >Gymkhana Office</<button >
          <button class="bg-white mt-2 mr-2 hover:bg-blue-900 hover:text-white py-2 px-2 rounded-md" >Councelling Cell</<button >
            <button class="bg-white mt-2 mr-2 hover:bg-blue-900 hover:text-white py-2 px-2 rounded-md" >Visiting Artists-in-residence</<button >
              <button class="bg-white mt-2 mr-2 hover:bg-blue-900 hover:text-white py-2 px-2 rounded-md" >New Sac Building</button >
                <button class="bg-white mt-2 mr-2 hover:bg-blue-900 hover:text-white py-2 px-2 rounded-md">Hostels</<button >
</div>
</div>




  <div class=" team grid grid-cols-2 mt-4">
      <div class=" col-span-1" >
        <div class=" overflow-hidden">
          <img src="https://source.unsplash.com/random/1280x720" style="width:87.4%; height:67%" alt="">
          <div class="p-2 team-text " style="width:87.4%; height:33%">

            <!-- <div class="grid grid-cols-3"> -->

                <div class="col-span-3 border-b-2 border-black-600" >
                                <div class="col-span-2 text-left text-sm lg:text-2xl">Tony Stark</div>
                                <p class=" text-white text-sm lg:text-lg mb-2">Dean</p>
                            </div>
                            <!-- </div> -->
                            <div class="grid grid-cols-1">

                                    <div class="grid grid-cols-3">
                                        <div class="col-span-1 text-left font-normal text-xs lg:text-lg mt-2">email@iitg.ac.in</div>
                                        <div class=" text-right col-span-2 font-normal text-xs lg:text-lg mt-2">+91 1234567890</div>
                                    </div>

                            </div>
                          </div>
                          </div>
                          </div>
</div>




  <div class="team-2 grid grid-cols-2 gap-4 ">

    <div class=" col-span-1 ">
      <div class="overflow-hidden" style="">
        <img class="team-image" src="https://source.unsplash.com/random/1280x720" style="width: 98%; height: 67%" alt="">
        <div class="team-text p-2 " style="width:98%;">

          <div class="grid grid-cols-3">
             <div class="col-span-3 border-b-2 border-black-600" >
                  <div class="col-span-2 text-left  text-xs lg:text-2xl" >Tony Stark</div>
                <p class=" text-white text-xs md:text-md mb-2 lg:text-lg ">Dean</p>
                </div>
                  </div>
              <div class="grid grid-cols-1">
                    <!-- <div class="grid grid-cols-1 divide-y divide-white"><br> -->
                      <div class="grid grid-cols-3">
                          <div class="col-span-1 text-left font-normal mt-2 text-xs lg:text-lg">email@iitg.ac.in</div>
                            <div class="col-span-2 text-right font-normal text-xs lg:text-lg mt-2">+91 1234567890</div>
                                  </div>

                          </div>
                        </div>
                        </div>
                        </div>

  <div class=" col-span-1 ">
      <div class=" overflow-hidden">
          <img src="https://source.unsplash.com/random/1280x720" style="width:98%; height:67%" alt="">
              <div class="p-2 team-text" style="width:98% ; height:33%">

                <div class="grid grid-cols-3">
                   <div class="col-span-3 border-b-2 border-white" >
                  <div class="col-span-2 text-left text-xs md:text-md lg:text-2xl ">Tony Stark</div>
                      <p class=" text-white text-xs md:text-sm lg:text-lg mb-2">Dean</p>
                        </div>
                    </div>

                  <div class="grid grid-cols-1">
                  <!-- <div class="grid grid-cols-1 divide-y divide-white"><br> -->
                  <div class="grid grid-cols-3">
                  <div class="col-span-1 text-left font-normal mt-2 text-xs lg:text-lg">email@iitg.ac.in</div>
                  <div class="col-span-2 text-right font-normal text-xs mt-2 lg:text-lg">+91 1234567890</div>
                  </div>

                                              </div>
                                            </div>
                                            </div>
                                            </div>
                                          </div>
