<% layout('layouts/layout') %>
<%- include('../partials/carousel')  %>
<%- include('../partials/navbar') %>


  <div class="bg-blue-600 mx-auto w-full pt-16 pb-40 pl-12 pr-2 items-stretch " style="height:50%">

      <h1 class=" text-white text-2xl bold pt-12 pb-8 pl-20">Team Structure</h1>
<div class="flex justify-start pl-12 gap-4">
      <button class="bg-white hover:bg-blue-900 hover:text-white py-2 px-2 rounded-md">Student's Affairs Office</<button >
        <button class="bg-white hover:bg-blue-900 hover:text-white py-2  px-2 rounded-md" >Gymkhana Office</<button >
          <button class="bg-white hover:bg-blue-900 hover:text-white py-2 px-2 rounded-md" >Councelling Cell</<button >
            <button class="bg-white hover:bg-blue-900 hover:text-white py-2 px-2 rounded-md" >Visting Artists-in-residence</<button >
              <button class="bg-white hover:bg-blue-900 hover:text-white py-2 px-2 rounded-md" >New Sac Building</button >
                <button class="bg-white hover:bg-blue-900 hover:text-white py-2 px-2 rounded-md">Hostels</<button >
</div>
</div>





  <div class="grid grid-cols-2 ml-28  mt-4">
      <div class=" column-span-1" >
        <div class=" overflow-hidden">
          <img src="https://source.unsplash.com/random/1280x720" style="width:78%; height:65%" alt="">
          <div class="p-4 event-text" style="width:78% ;height:35%">

            <div class="grid grid-cols-3">
                                <div class="col-span-2 text-left text-2xl">Tony Stark</div><br>
                                <p class=" text-white lg">DoSA</p>
                            </div>
                            <div class="grid grid-cols-1">
                                <div class="grid grid-cols-1 divide-y divide-white"><br>
                                    <div class="grid grid-cols-3">
                                        <div class="col-span-1 text-left font-normal  text-md mt-4">email@iitg.ac.in</div>
                                        <div class="col-span-2 text-right font-normal text-md mt-4">+91 1234567890</div>
                                    </div>
                                </div>
                            </div>
                          </div>
                          </div>
                          </div>
</div>




  <div class="grid grid-cols-2 ml-28 mb-20 mr-28 mt-8">

    <div class=" col-span-1 mt-8 ">
      <div class="overflow-hidden">
        <img src="https://source.unsplash.com/random/1280x720" style="width: 85%; height: 65%" alt="">
        <div class="p-4 event-text" style="width: 85% ; height:35%">

          <div class="grid grid-cols-3">
                  <div class="col-span-2 text-left text-2xl">Tony Stark</div><br>
                <p class=" text-white lg">Dean</p>
                  </div>
              <div class="grid grid-cols-1">
                    <div class="grid grid-cols-1 divide-y divide-white"><br>
                      <div class="grid grid-cols-3">
                          <div class="col-span-1 text-left font-normal  text-md mt-4">email@iitg.ac.in</div>
                            <div class="col-span-2 text-right font-normal text-md mt-4">+91 1234567890</div>
                                  </div>
                              </div>
                          </div>
                        </div>
                        </div>
                        </div>

                        <div class=" col-span-1 mt-8">
                          <div class=" overflow-hidden">
                            <img src="https://source.unsplash.com/random/1280x720" style="width:85%; height:65%" alt="">
                            <div class="p-4 event-text" style="width: 85%; height: 35%">

                              <div class="grid grid-cols-3">
                                                  <div class="col-span-2 text-left text-2xl">Tony Stark</div><br>
                                                  <p class=" text-white lg">Dean</p>
                                              </div>
                                              <div class="grid grid-cols-1">
                                                  <div class="grid grid-cols-1 divide-y divide-white"><br>
                                        <div class="grid grid-cols-3">
                                        <div class="col-span-1 text-left font-normal  text-md mt-4">email@iitg.ac.in</div>
                                            <div class="col-span-2 text-right font-normal text-md mt-4">+91 1234567890</div>
                                              </div>
                                          </div>
                                              </div>
                                            </div>
                                            </div>
                                            </div>
                                          </div>
