<% layout('layouts/layout') %>
<%- include('../partials/carousel')  %>
<%- include('../partials/navbar') %>


  <div class="bg-blue-600 mx-auto pt-16 pb-40 pl-12 pr-2 items-stretch ">

      <h1 class=" text-white text-2xl bold p-8">Team Structure</h1>
<div class="flex justify-start">
      <button class="bg-white hover:bg-blue-900 hover:text-white py-2 px-4 rounded-full ">Student's Affairs Office</<button >
        <button class="bg-white hover:bg-blue-900 hover:text-white py-2 px-4 rounded-full">Gymkhana Office</<button >
          <button class="bg-white hover:bg-blue-900 hover:text-white py-2 px-4 rounded-full">Councelling Cell</<button >
            <button class="bg-white hover:bg-blue-900 hover:text-white py-2 px-4 rounded-full">xyz office</<button >
              <button class="bg-white hover:bg-blue-900 hover:text-white py-2 px-4 rounded-full">New Sac Building</button >
                <button class="bg-white hover:bg-blue-900 hover:text-white py-2 px-4 rounded-full">Hostels</<button >
</div>
    </div>


<div class=" mt-24 ml-60 ">

      <div onclick="location.href='https://www.youtube.com/';" style="cursor: pointer;" class=" col-span-1 mb-4 flex flex-wrap pb-10 pt-4">
        <div class="shadow-md rounded-md overflow-hidden">
          <img src="https://source.unsplash.com/random/1280x720" style="width: 350px; height: 350px" alt="">
          <div class="p-4 event-text" style="width: 350px">

            <div class="grid grid-cols-3">
                                <div class="col-span-2 text-left text-2xl">Tony Stark</div><br>
                                <p class=" text-white lg">DoSA</p>
                            </div>
                            <div class="grid grid-cols-1">
                                <div class="grid grid-cols-1 divide-y divide-white"><br>
                                    <div class="grid grid-cols-3">
                                        <div class="col-span-1 text-left font-normal  text-md mt-4">email@iitg.ac.in</div>
                                        <div class="col-span-2 text-right font-normal text-md mt-4">+91 1234567890</div>
                                    </div>
                                </div>
                            </div>
                          </div>
                          </div>
                          </div>
</div>




  <div class="grid grid-cols-2 ml-60 mb-2">

    <div onclick="location.href='https://www.youtube.com/';" style="cursor: pointer;" class=" col-span-1 mb-4 flex flex-wrap pb-10 pt-4">
      <div class="shadow-md rounded-md overflow-hidden">
        <img src="https://source.unsplash.com/random/1280x720" style="width: 350px; height: 350px" alt="">
        <div class="p-4 event-text" style="width: 350px">

          <div class="grid grid-cols-3">
                  <div class="col-span-2 text-left text-2xl">Tony Stark</div><br>
                <p class=" text-white lg">Dean</p>
                  </div>
              <div class="grid grid-cols-1">
                    <div class="grid grid-cols-1 divide-y divide-white"><br>
                      <div class="grid grid-cols-3">
                          <div class="col-span-1 text-left font-normal  text-md mt-4">email@iitg.ac.in</div>
                            <div class="col-span-2 text-right font-normal text-md mt-4">+91 1234567890</div>
                                  </div>
                              </div>
                          </div>
                        </div>
                        </div>
                        </div>

                        <div onclick="location.href='https://www.youtube.com/';" style="cursor: pointer;" class=" col-span-1 mb-4 flex flex-wrap pb-10 pt-4">
                          <div class="shadow-md rounded-md overflow-hidden">
                            <img src="https://source.unsplash.com/random/1280x720" style="width: 350px; height: 350px" alt="">
                            <div class="p-4 event-text" style="width: 350px">

                              <div class="grid grid-cols-3">
                                                  <div class="col-span-2 text-left text-2xl">Tony Stark</div><br>
                                                  <p class=" text-white lg">Dean</p>
                                              </div>
                                              <div class="grid grid-cols-1">
                                                  <div class="grid grid-cols-1 divide-y divide-white"><br>
                                        <div class="grid grid-cols-3">
                                        <div class="col-span-1 text-left font-normal  text-md mt-4">email@iitg.ac.in</div>
                                            <div class="col-span-2 text-right font-normal text-md mt-4">+91 1234567890</div>
                                              </div>
                                          </div>
                                              </div>
                                            </div>
                                            </div>
                                            </div>
                                          </div>
