<% layout('layouts/layout') %>
<%- include('./partials/carousel')  %>
<%- include('./partials/navbar') %>



<div class="flex flex-wrap mt-24 ml-20 mb-24">

  <div class="about">
    <div class="about-header mb-4">
      <h1>About Us</h1>
    </div>
    <p>You are here for an overall development of your personality, so to keep you healthy and fit, we have all the facilities for sports, both indoor and outdoor.
      <br>
      <br>
      All outdoor sports like athletics, swimming, cricket, football, hockey, basketball, volleyball, etc. and indoor sports like table tennis, weight lifting, chess, carrom, squash, etc. are actively played by all throughout the year.
      <br>
      <br>
      We organize and promote all extra-curricular activities in the field of sports. It has currently twelve clubs: Athletics and Gymnastics Club, aquatics Club, Badminton Club, Basketball Club, Cricket Club, Football Club, Hockey Club, Lawn Tennis
      Club, Table Tennis Club, Squash Club, Volleyball Club and Weightlifting Club. The three main events conducted every year are Inter IIT Sports Meet, Spardha and Spirit.
    </p>
  </div>

  <div class="content">
    <div>CONTENTS</div>
    <div>EVENTS</div>
    <div>ANNOUNCEMENTS</div>
  </div>

</div>

<div class="mt-20 bg-event pl-20 pb-4">
  <div class="pt-16 pb-12 flex flex-wrap">

    <div class=" event-header">
      <div class="header">
        <h1>Events at IIT Guwahati</h1>
      </div>
    </div>

    <div class="content event">
      <div>CONTENTS</div>
      <div>EVENTS</div>
      <div>ANNOUNCEMENTS</div>
    </div>

  </div>

  <div onclick="location.href='https://www.youtube.com/';" style="cursor: pointer;" class="flex flex-wrap pb-10 pt-4">
    <div class="shadow-md rounded-md overflow-hidden">
      <img src="https://source.unsplash.com/random/1280x720" style="width: 850px; height: 300px" alt="">
      <div class="p-4 event-text">
        <h3>15/08/2021</h3>
        <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
      </div>
    </div>
  </div>

  <div class="flex flex-wrap divide-x divide-white-500">
    <div class="text-xl pr-4 footer">
      IITG Hostal Affairs Board
    </div>
    <div class="pl-4 text-sm pt-1 text-center copy">
      © 2021 @students-web-commitee
    </div>
  </div>

</div>
