<% layout('layouts/layout') %>
<%- include('../partials/carousel')  %>
<%- include('../partials/navbar') %>

<div class="grid grid-cols-2 gap-4">
     <div onclick="location.href='https://www.youtube.com/';" style="cursor: pointer;" class=" col-span-1 mb-4 flex flex-wrap pb-10 pt-4">
        <div class="shadow-md rounded-md overflow-hidden">
          <img src="https://www.google.co.in/url?sa=i&url=https%3A%2F%2Fwww.amazon.com%2FDictator-Extended-Sacha-Baron-Cohen%2Fdp%2FB0092YS9VW&psig=AOvVaw1oH7luxzgC5p0ADMyne0Pm&ust=1629037821625000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCKjZ_vfcsPICFQAAAAAdAAAAABAD" style="width: 563.41px; height: 418.41px" alt="">
          <div class="p-4 event-text" style="width: 563.41px">
            <div class="grid grid-cols-3">
              <div class="col-span-2 text-left text-2xl">Alladin</div>
              <div class="col-span-1 text-right font-normal text-sm">King</div>
            </div>
            <p class="mb-4 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
          </div>
        </div>
      </div>
      <div onclick="location.href='https://www.youtube.com/';" style="cursor: pointer;" class=" col-span-1 mb-4 flex flex-wrap pb-10 pt-4">
        <div class="shadow-md rounded-md overflow-hidden">
          <img src="https://www.google.co.in/url?sa=i&url=https%3A%2F%2Fwww.amazon.com%2FDictator-Extended-Sacha-Baron-Cohen%2Fdp%2FB0092YS9VW&psig=AOvVaw1oH7luxzgC5p0ADMyne0Pm&ust=1629037821625000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCKjZ_vfcsPICFQAAAAAdAAAAABAD" style="width: 563.41px; height: 418.41px" alt="">
          <div class="p-4 event-text" style="width: 563.41px">
            <div class="grid grid-cols-3">
              <div class="col-span-2 text-left text-2xl">Alladin</div>
              <div class="col-span-1 text-right font-normal text-sm">King</div>
            </div>
            <p class="mb-4 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
          </div>
        </div>
      </div>
      <div onclick="location.href='https://www.youtube.com/';" style="cursor: pointer;" class=" col-span-1 mb-4 flex flex-wrap pb-10 pt-4">
        <div class="shadow-md rounded-md overflow-hidden">
          <img src="https://www.google.co.in/url?sa=i&url=https%3A%2F%2Fwww.amazon.com%2FDictator-Extended-Sacha-Baron-Cohen%2Fdp%2FB0092YS9VW&psig=AOvVaw1oH7luxzgC5p0ADMyne0Pm&ust=1629037821625000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCKjZ_vfcsPICFQAAAAAdAAAAABAD" style="width: 563.41px; height: 418.41px" alt="">
          <div class="p-4 event-text" style="width: 563.41px">
            <div class="grid grid-cols-3">
              <div class="col-span-2 text-left text-2xl">Alladin</div>
              <div class="col-span-1 text-right font-normal text-sm">King</div>
            </div>
            <p class="mb-4 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
          </div>
        </div>
      </div>
      <div onclick="location.href='https://www.youtube.com/';" style="cursor: pointer;" class=" col-span-1 mb-4 flex flex-wrap pb-10 pt-4">
        <div class="shadow-md rounded-md overflow-hidden">
          <img src="https://www.google.co.in/url?sa=i&url=https%3A%2F%2Fwww.amazon.com%2FDictator-Extended-Sacha-Baron-Cohen%2Fdp%2FB0092YS9VW&psig=AOvVaw1oH7luxzgC5p0ADMyne0Pm&ust=1629037821625000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCKjZ_vfcsPICFQAAAAAdAAAAABAD" style="width: 563.41px; height: 418.41px" alt="">
          <div class="p-4 event-text" style="width: 563.41px">
            <div class="grid grid-cols-3">
              <div class="col-span-2 text-left text-2xl">Alladin</div>
              <div class="col-span-1 text-right font-normal text-sm">King</div>
            </div>
            <p class="mb-4 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
          </div>
        </div>
      </div>
      <div onclick="location.href='https://www.youtube.com/';" style="cursor: pointer;" class=" col-span-1 mb-4 flex flex-wrap pb-10 pt-4">
        <div class="shadow-md rounded-md overflow-hidden">
          <img src="https://www.google.co.in/url?sa=i&url=https%3A%2F%2Fwww.amazon.com%2FDictator-Extended-Sacha-Baron-Cohen%2Fdp%2FB0092YS9VW&psig=AOvVaw1oH7luxzgC5p0ADMyne0Pm&ust=1629037821625000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCKjZ_vfcsPICFQAAAAAdAAAAABAD" style="width: 563.41px; height: 418.41px" alt="">
          <div class="p-4 event-text" style="width: 563.41px">
            <div class="grid grid-cols-3">
              <div class="col-span-2 text-left text-2xl">Alladin</div>
              <div class="col-span-1 text-right font-normal text-sm">King</div>
            </div>
            <p class="mb-4 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
          </div>
        </div>
      </div>
      <div onclick="location.href='https://www.youtube.com/';" style="cursor: pointer;" class=" col-span-1 mb-4 flex flex-wrap pb-10 pt-4">
        <div class="shadow-md rounded-md overflow-hidden">
          <img src="https://www.google.co.in/url?sa=i&url=https%3A%2F%2Fwww.amazon.com%2FDictator-Extended-Sacha-Baron-Cohen%2Fdp%2FB0092YS9VW&psig=AOvVaw1oH7luxzgC5p0ADMyne0Pm&ust=1629037821625000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCKjZ_vfcsPICFQAAAAAdAAAAABAD" style="width: 563.41px; height: 418.41px" alt="">
          <div class="p-4 event-text" style="width: 563.41px">
            <div class="grid grid-cols-3">
              <div class="col-span-2 text-left text-2xl">Alladin</div>
              <div class="col-span-1 text-right font-normal text-sm">King</div>
            </div>
            <p class="mb-4 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
          </div>
        </div>
      </div>
      <div onclick="location.href='https://www.youtube.com/';" style="cursor: pointer;" class=" col-span-1 mb-4 flex flex-wrap pb-10 pt-4">
        <div class="shadow-md rounded-md overflow-hidden">
          <img src="https://www.google.co.in/url?sa=i&url=https%3A%2F%2Fwww.amazon.com%2FDictator-Extended-Sacha-Baron-Cohen%2Fdp%2FB0092YS9VW&psig=AOvVaw1oH7luxzgC5p0ADMyne0Pm&ust=1629037821625000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCKjZ_vfcsPICFQAAAAAdAAAAABAD" style="width: 563.41px; height: 418.41px" alt="">
          <div class="p-4 event-text" style="width: 563.41px">
            <div class="grid grid-cols-3">
              <div class="col-span-2 text-left text-2xl">Alladin</div>
              <div class="col-span-1 text-right font-normal text-sm">King</div>
            </div>
            <p class="mb-4 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
          </div>
        </div>
      </div>
      <div onclick="location.href='https://www.youtube.com/';" style="cursor: pointer;" class=" col-span-1 mb-4 flex flex-wrap pb-10 pt-4">
        <div class="shadow-md rounded-md overflow-hidden">
          <img src="https://www.google.co.in/url?sa=i&url=https%3A%2F%2Fwww.amazon.com%2FDictator-Extended-Sacha-Baron-Cohen%2Fdp%2FB0092YS9VW&psig=AOvVaw1oH7luxzgC5p0ADMyne0Pm&ust=1629037821625000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCKjZ_vfcsPICFQAAAAAdAAAAABAD" style="width: 563.41px; height: 418.41px" alt="">
          <div class="p-4 event-text" style="width: 563.41px">
            <div class="grid grid-cols-3">
              <div class="col-span-2 text-left text-2xl">Alladin</div>
              <div class="col-span-1 text-right font-normal text-sm">King</div>
            </div>
            <p class="mb-4 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
          </div>
        </div>
      </div>
</div>