<% layout('layouts/layout') %>
<%- include('../partials/carousel')  %>
<%- include('../partials/navbar') %>


<div class="facility  ml-20 mb-12 mr-20 grid grid-cols-12  ">

<div class="col-span-10">

        <div class="facilities mt-20">
          <div class="text-4xl font-bold bold mb-12">
            <h1>Facilities</h1>
          </div>
      <div class="grid grid-cols-2 gap-12">
<div class="col-span-1 mb-8 border-b-2 border-black-600">

          <div onclick="location.href='https://www.youtube.com/';" style="cursor: pointer;" class=" col-span-1 mb-4 flex flex-wrap pb-10 pt-4">
            <div class="shadow-md overflow-hidden">
              <img src="https://source.unsplash.com/random/1280x720" style="width: 100%; height: 100%" alt="">
          </div>
          </div>


          <div class= "text-xl font-bold">
          Train the Inter IIT Contingent.
          Organise summer camps for swimming.</div>
          Organise beginners classes for non-swimmers.
          Compete with other teams in the State/Country.
          Organise beginners classes for non-swimmers.
          Compete with other teams in the State/Country.

          <br><br>
          <!-- <div class="col-span-1 font-semibold text-right"> Read more <button class="bg-black text-white font-bold py-1 px-2 rounded-md">-></button></div>
          <br>
          <br> -->
        </div>


        <div class="col-span-1 mb-8 border-b-2 border-black-600">
          <div onclick="location.href='https://www.youtube.com/';" style="cursor: pointer;" class=" col-span-1 mb-4 flex flex-wrap pb-10 pt-4">
            <div class="shadow-md overflow-hidden">
              <img src="https://source.unsplash.com/random/1280x720" style="width: 100%; height: 100%" alt="">
          </div>
          </div>
            <div class= "text-xl font-bold">
          Train the Inter IIT Contingent.
          Organise summer camps for swimming.</div>
          Organise beginners classes for non-swimmers.
          Compete with other teams in the State/Country.
          Organise beginners classes for non-swimmers.
          Compete with other teams in the State/Country.

          <br><br>
          <!-- <div class="col-span-1 font-semibold text-right"> Read more <button class="bg-black text-white font-bold py-1 px-2 rounded-md">-></button></div>
          <br> -->
          <!-- <br> -->
        </div>


                <div class="col-span-1 mb-8 border-b-2 border-black-600">

                  <div onclick="location.href='https://www.youtube.com/';" style="cursor: pointer;" class=" col-span-1 mb-4 flex flex-wrap pb-10 pt-4">
                    <div class="shadow-md overflow-hidden">
                      <img src="https://source.unsplash.com/random/1280x720" style="width: 100%; height: 100%" alt="">
                  </div>
                  </div>
                  <div class= "text-xl font-bold">
                  Train the Inter IIT Contingent.
                  Organise summer camps for swimming.</div>
                  Organise beginners classes for non-swimmers.
                  Compete with other teams in the State/Country.
                  Organise beginners classes for non-swimmers.
                  Compete with other teams in the State/Country.

                  <br><br>
                  <!-- <div class="col-span-1 font-semibold text-right"> Read more <button class="bg-black text-white font-bold py-1 px-2 rounded-md">-></button></div>
                  <br>
                  <br> -->
                </div>

        <div class="col-span-1  mb-8 border-b-2 border-black-600">
          <div onclick="location.href='https://www.youtube.com/';" style="cursor: pointer;" class=" col-span-1 mb-4 flex flex-wrap pb-10 pt-4">
            <div class="shadow-md overflow-hidden">
              <img src="https://source.unsplash.com/random/1280x720" style="width: 100%; height: 100%" alt="">
          </div>
          </div>
          <div class= "text-xl font-bold">
          Train the Inter IIT Contingent.
          Organise summer camps for swimming.</div>
          Organise beginners classes for non-swimmers.
          Compete with other teams in the State/Country.
          Organise beginners classes for non-swimmers.
          Compete with other teams in the State/Country.

          <br><br>
          <!-- <div class="col-span-1 font-semibold text-right"> Read more <button class="bg-black text-white font-bold py-1 px-2 rounded-md">-></button></div>
          <br>
          <br> -->
        </div>

        <div class="col-span-1 mb-8 border-b-2 border-black-600">
          <div onclick="location.href='https://www.youtube.com/';" style="cursor: pointer;" class=" col-span-1 mb-4 flex flex-wrap pb-10 pt-4">
            <div class="shadow-md overflow-hidden">
              <img src="https://source.unsplash.com/random/1280x720" style="width: 100%; height: 100%" alt="">
          </div>
          </div>
          <div class= "text-xl font-bold">
          Train the Inter IIT Contingent.
          Organise summer camps for swimming.</div>
          Organise beginners classes for non-swimmers.
          Compete with other teams in the State/Country.
          Organise beginners classes for non-swimmers.
          Compete with other teams in the State/Country.

          <br><br>
          <!-- <div class="col-span-1 font-semibold text-right"> Read more <button class="bg-black text-white font-bold py-1 px-2 rounded-md">-></button></div>
          <br>
          <br> -->
        </div>

           </div>



</div>
</div>

<div class=" col-span-2 mt-20 ml-20 ">
  <div>
    <p class="text-gray-400">CONTENTS</p></div>
  <a href="#"><p class="text-gray-400">Events</p></a>
  <a href="#"><p class="text-gray-400">Announcements</p></a>

</div>


</div>
