<% layout('layouts/layout') %>
<%- include('../partials/carousel')  %>
<%- include('../partials/navbar') %>


<div class="w-3/4 p-8 m-auto">
    <button
      class="px-6 py-3 mb-1 mr-1 text-sm font-bold text-gray-800 uppercase transition-all duration-150 ease-linear bg-transparent border border-gray-800 border-solid rounded outline-none hover:bg-gray-800 hover:text-white active:bg-gray-900 focus:outline-none"
      type="button">
      <a href="/spardha">Spardha 2021</a>
    </button>
    <button
      class="px-6 py-3 mb-1 mr-1 text-sm font-bold text-gray-800 uppercase transition-all duration-150 ease-linear bg-transparent border border-gray-800 border-solid rounded outline-none hover:bg-gray-800 hover:text-white active:bg-gray-900 focus:outline-none"
      type="button">
      <a href="/spardha/spardha2020">Spardha 2020</a>
    </button>
    <button
      class="px-6 py-3 mb-1 mr-1 text-sm font-bold text-gray-800 uppercase transition-all duration-150 ease-linear bg-transparent border border-gray-800 border-solid rounded outline-none hover:bg-gray-800 hover:text-white active:bg-gray-900 focus:outline-none"
      type="button">
      <a href="/spardha/spardha2019">Spardha 2019</a>
    </button>
    <button
      class="px-6 py-3 mb-1 mr-1 text-sm font-bold text-gray-800 uppercase transition-all duration-150 ease-linear bg-transparent border border-gray-800 border-solid rounded outline-none hover:bg-gray-800 hover:text-white active:bg-gray-900 focus:outline-none"
      type="button">
      <a href="/spardha/spardha2018">Spardha 2018</a>
    </button>
    <button
      class="px-6 py-3 mb-1 mr-1 text-sm font-bold text-gray-800 uppercase transition-all duration-150 ease-linear bg-transparent border border-gray-800 border-solid rounded outline-none hover:bg-gray-800 hover:text-white active:bg-gray-900 focus:outline-none"
      type="button">
      <a href="/spardha/spardha2017">Spardha 2017</a>
    </button>
    <button
      class="px-6 py-3 mb-1 mr-1 text-sm font-bold text-gray-800 uppercase transition-all duration-150 ease-linear bg-transparent border border-gray-800 border-solid rounded outline-none hover:bg-gray-800 hover:text-white active:bg-gray-900 focus:outline-none"
      type="button">
      <a href="/spardha/spardha2016">Spardha 2016</a>
    </button>
    <button
      class="px-6 py-3 mb-1 mr-1 text-sm font-bold text-gray-800 uppercase transition-all duration-150 ease-linear bg-transparent border border-gray-800 border-solid rounded outline-none hover:bg-gray-800 hover:text-white active:bg-gray-900 focus:outline-none"
      type="button">
      <a href="/spardha/spardha2015">Spardha 2015</a>
    </button>
    <button
      class="px-6 py-3 mb-1 mr-1 text-sm font-bold text-gray-800 uppercase transition-all duration-150 ease-linear bg-transparent border border-gray-800 border-solid rounded outline-none hover:bg-gray-800 hover:text-white active:bg-gray-900 focus:outline-none"
      type="button">
      <a href="/spardha/spardha2014">Spardha 2014</a>
    </button>
</div>


<h3>Spardha 2018</h3>
<div class="grid grid-cols-2 gap-4 p-20">
     <div onclick="location.href='https://www.youtube.com/';" style="cursor: pointer;" class="flex flex-wrap col-span-1 pt-4 pb-10 ">
        <div class="overflow-hidden rounded-md shadow-md">
          <img src="https://source.unsplash.com/random/1280x720" style="width: 563.41px; height: 418.41px" alt="">
          <div class="p-4 event-text" style="width: 563.41px">
            <div class="grid grid-cols-3">
              <div class="col-span-2 text-2xl text-left">Alladin</div>
              <div class="col-span-1 text-sm font-normal text-right">King</div>
            </div>
            <p class="mb-4 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
          </div>
        </div>
      </div>
      <div onclick="location.href='https://www.youtube.com/';" style="cursor: pointer;" class="flex flex-wrap col-span-1 pt-4 pb-10 ">
        <div class="overflow-hidden rounded-md shadow-md">
          <img src="https://source.unsplash.com/random/1280x720" style="width: 563.41px; height: 418.41px" alt="">
          <div class="p-4 event-text" style="width: 563.41px">
            <div class="grid grid-cols-3">
              <div class="col-span-2 text-2xl text-left">Alladin</div>
              <div class="col-span-1 text-sm font-normal text-right">King</div>
            </div>
            <p class="mb-4 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
          </div>
        </div>
      </div>
      <div onclick="location.href='https://www.youtube.com/';" style="cursor: pointer;" class="flex flex-wrap col-span-1 pt-4 pb-10 ">
        <div class="overflow-hidden rounded-md shadow-md">
          <img src="https://source.unsplash.com/random/1280x720" style="width: 563.41px; height: 418.41px" alt="">
          <div class="p-4 event-text" style="width: 563.41px">
            <div class="grid grid-cols-3">
              <div class="col-span-2 text-2xl text-left">Alladin</div>
              <div class="col-span-1 text-sm font-normal text-right">King</div>
            </div>
            <p class="mb-4 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
          </div>
        </div>
      </div>
      <div onclick="location.href='https://www.youtube.com/';" style="cursor: pointer;" class="flex flex-wrap col-span-1 pt-4 pb-10 ">
        <div class="overflow-hidden rounded-md shadow-md">
          <img src="https://source.unsplash.com/random/1280x720" style="width: 563.41px; height: 418.41px" alt="">
          <div class="p-4 event-text" style="width: 563.41px">
            <div class="grid grid-cols-3">
              <div class="col-span-2 text-2xl text-left">Alladin</div>
              <div class="col-span-1 text-sm font-normal text-right">King</div>
            </div>
            <p class="mb-4 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
          </div>
        </div>
      </div>
      <div onclick="location.href='https://www.youtube.com/';" style="cursor: pointer;" class="flex flex-wrap col-span-1 pt-4 pb-10 ">
        <div class="overflow-hidden rounded-md shadow-md">
          <img src="https://source.unsplash.com/random/1280x720" style="width: 563.41px; height: 418.41px" alt="">
          <div class="p-4 event-text" style="width: 563.41px">
            <div class="grid grid-cols-3">
              <div class="col-span-2 text-2xl text-left">Alladin</div>
              <div class="col-span-1 text-sm font-normal text-right">King</div>
            </div>
            <p class="mb-4 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
          </div>
        </div>
      </div>
      <div onclick="location.href='https://www.youtube.com/';" style="cursor: pointer;" class="flex flex-wrap col-span-1 pt-4 pb-10 ">
        <div class="overflow-hidden rounded-md shadow-md">
          <img src="https://source.unsplash.com/random/1280x720" style="width: 563.41px; height: 418.41px" alt="">
          <div class="p-4 event-text" style="width: 563.41px">
            <div class="grid grid-cols-3">
              <div class="col-span-2 text-2xl text-left">Alladin</div>
              <div class="col-span-1 text-sm font-normal text-right">King</div>
            </div>
            <p class="mb-4 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
          </div>
        </div>
      </div>
      <div onclick="location.href='https://www.youtube.com/';" style="cursor: pointer;" class="flex flex-wrap col-span-1 pt-4 pb-10 ">
        <div class="overflow-hidden rounded-md shadow-md">
          <img src="https://source.unsplash.com/random/1280x720" style="width: 563.41px; height: 418.41px" alt="">
          <div class="p-4 event-text" style="width: 563.41px">
            <div class="grid grid-cols-3">
              <div class="col-span-2 text-2xl text-left">Alladin</div>
              <div class="col-span-1 text-sm font-normal text-right">King</div>
            </div>
            <p class="mb-4 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
          </div>
        </div>
      </div>
      <div onclick="location.href='https://www.youtube.com/';" style="cursor: pointer;" class="flex flex-wrap col-span-1 pt-4 pb-10 ">
        <div class="overflow-hidden rounded-md shadow-md">
          <img src="https://source.unsplash.com/random/1280x720" style="width: 563.41px; height: 418.41px" alt="">
          <div class="p-4 event-text" style="width: 563.41px">
            <div class="grid grid-cols-3">
              <div class="col-span-2 text-2xl text-left">Alladin</div>
              <div class="col-span-1 text-sm font-normal text-right">King</div>
            </div>
            <p class="mb-4 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
          </div>
        </div>
      </div>
</div>