<% layout('layouts/layout') %>
<%- include('../partials/carousel')  %>
<%- include('../partials/navbar') %>

<div style="z-index: -1; position: absolute; width: 100%; aspect-ratio: 3 / 1;
  background: linear-gradient(180deg, #F97F51 -14.78%, rgba(247, 207, 222, 0) 399.89%);">
</div>
<div class="flex flex-wrap mt-20 ml-20">
  <div class="about" style="color: white;">
    <div class="about-header ">
      <h1>Spardha 2019</h1>
    </div>
  </div>
</div>

<div class="grid-cols-2 gap-6 md:grid" style="padding: 7%;">
     <div onclick="toggleModal('description-modal')" style="cursor: pointer; aspect-ratio: 1 / 1;" class="flex flex-wrap col-span-1 pt-4 pb-10 ">
        <div class="overflow-hidden rounded-md shadow-md">
          <img src="https://source.unsplash.com/random/1280x720" style="width:100%; height:75%" alt="">
          <div class="p-4 event-text" style="background-color: #F97F51; width:100%; height:25%">
            <div class="grid-cols-3 md:grid">
              <div class="col-span-2 text-2xl text-left">Alladin</div>
              <div class="col-span-1 text-sm font-normal text-right">King</div>
            </div>
            <p class="mt-2 mb-4 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
          </div>
        </div>
      </div>
      <div onclick="toggleModal('description-modal')" style="cursor: pointer; aspect-ratio: 1 / 1;" class="flex flex-wrap col-span-1 pt-4 pb-10 ">
        <div class="overflow-hidden rounded-md shadow-md">
          <img src="https://source.unsplash.com/random/1280x720" style="width:100%; height:75%" alt="">
          <div class="p-4 event-text" style="background-color: #F97F51; width:100%; height:25%">
            <div class="grid-cols-3 md:grid">
              <div class="col-span-2 text-2xl text-left">Alladin</div>
              <div class="col-span-1 text-sm font-normal text-right">King</div>
            </div>
            <p class="mt-2 mb-4 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
          </div>
        </div>
      </div>
      <div onclick="toggleModal('description-modal')" style="cursor: pointer; aspect-ratio: 1 / 1;" class="flex flex-wrap col-span-1 pt-4 pb-10 ">
        <div class="overflow-hidden rounded-md shadow-md">
          <img src="https://source.unsplash.com/random/1280x720" style="width:100%; height:75%" alt="">
          <div class="p-4 event-text" style="background-color: #F97F51; width:100%; height:25%">
            <div class="grid-cols-3 md:grid">
              <div class="col-span-2 text-2xl text-left">Alladin</div>
              <div class="col-span-1 text-sm font-normal text-right">King</div>
            </div>
            <p class="mt-2 mb-4 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
          </div>
        </div>
      </div>
      <div onclick="toggleModal('description-modal')" style="cursor: pointer; aspect-ratio: 1 / 1;" class="flex flex-wrap col-span-1 pt-4 pb-10 ">
        <div class="overflow-hidden rounded-md shadow-md">
          <img src="https://source.unsplash.com/random/1280x720" style="width:100%; height:75%" alt="">
          <div class="p-4 event-text" style="background-color: #F97F51; width:100%; height:25%">
            <div class="grid-cols-3 md:grid">
              <div class="col-span-2 text-2xl text-left">Alladin</div>
              <div class="col-span-1 text-sm font-normal text-right">King</div>
            </div>
            <p class="mt-2 mb-4 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
          </div>
        </div>
      </div>
      <div onclick="toggleModal('description-modal')" style="cursor: pointer; aspect-ratio: 1 / 1;" class="flex flex-wrap col-span-1 pt-4 pb-10 ">
        <div class="overflow-hidden rounded-md shadow-md">
          <img src="https://source.unsplash.com/random/1280x720" style="width:100%; height:75%" alt="">
          <div class="p-4 event-text" style="background-color: #F97F51; width:100%; height:25%">
            <div class="grid-cols-3 md:grid">
              <div class="col-span-2 text-2xl text-left">Alladin</div>
              <div class="col-span-1 text-sm font-normal text-right">King</div>
            </div>
            <p class="mt-2 mb-4 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
          </div>
        </div>
      </div>
      <div onclick="toggleModal('description-modal')" style="cursor: pointer; aspect-ratio: 1 / 1;" class="flex flex-wrap col-span-1 pt-4 pb-10 ">
        <div class="overflow-hidden rounded-md shadow-md">
          <img src="https://source.unsplash.com/random/1280x720" style="width:100%; height:75%" alt="">
          <div class="p-4 event-text" style="background-color: #F97F51; width:100%; height:25%">
            <div class="grid-cols-3 md:grid">
              <div class="col-span-2 text-2xl text-left">Alladin</div>
              <div class="col-span-1 text-sm font-normal text-right">King</div>
            </div>
            <p class="mt-2 mb-4 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
          </div>
        </div>
      </div>
      <div onclick="toggleModal('description-modal')" style="cursor: pointer; aspect-ratio: 1 / 1;" class="flex flex-wrap col-span-1 pt-4 pb-10 ">
        <div class="overflow-hidden rounded-md shadow-md">
          <img src="https://source.unsplash.com/random/1280x720" style="width:100%; height:75%" alt="">
          <div class="p-4 event-text" style="background-color: #F97F51; width:100%; height:25%">
            <div class="grid-cols-3 md:grid">
              <div class="col-span-2 text-2xl text-left">Alladin</div>
              <div class="col-span-1 text-sm font-normal text-right">King</div>
            </div>
            <p class="mt-2 mb-4 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
          </div>
        </div>
      </div>
      <div onclick="toggleModal('description-modal')" style="cursor: pointer; aspect-ratio: 1 / 1;" class="flex flex-wrap col-span-1 pt-4 pb-10 ">
        <div class="overflow-hidden rounded-md shadow-md">
          <img src="https://source.unsplash.com/random/1280x720" style="width:100%; height:75%" alt="">
          <div class="p-4 event-text" style="background-color: #F97F51; width:100%; height:25%">
            <div class="grid-cols-3 md:grid">
              <div class="col-span-2 text-2xl text-left">Alladin</div>
              <div class="col-span-1 text-sm font-normal text-right">King</div>
            </div>
            <p class="mt-2 mb-4 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
          </div>
        </div>
      </div>
      
<!--Modal-->
<div
  class="fixed inset-0 z-50 items-center justify-center hidden overflow-x-hidden overflow-y-auto outline-none focus:outline-none"
  id="description-modal">
  <div class="relative w-auto max-w-sm mx-auto my-6">
    <!--content-->
    <div class="relative flex flex-col w-full bg-white border-0 rounded-lg shadow-lg outline-none focus:outline-none">
      <!--header-->
      <div class="flex items-start justify-between p-5 border-b border-gray-200 border-solid rounded-t">
        <h3 class="text-3xl font-semibold">
          Result
        </h3>
        <button
          class="float-right p-1 ml-auto text-3xl font-semibold leading-none text-gray-300 bg-transparent border-0 outline-none focus:outline-none"
          onclick="toggleModal('description-modal')">
          <span class="block w-6 h-6 text-lg bg-transparent outline-none focus:outline-none">
            <i class="fas fa-times"></i>
          </span>
        </button>
      </div>
      <!--body-->
      <div class="relative flex-auto p-6">
        <p class="my-4 text-lg leading-relaxed text-gray-500">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus
        </p>
      </div>
    </div>
  </div>
</div>
<div class="fixed inset-0 z-40 hidden bg-black opacity-25" id="description-modal-backdrop"></div>
<script type="text/javascript">
  function toggleModal(modalID) {
    document.getElementById(modalID).classList.toggle("hidden");
    document.getElementById(modalID + "-backdrop").classList.toggle("hidden");
    document.getElementById(modalID).classList.toggle("flex");
    document.getElementById(modalID + "-backdrop").classList.toggle("flex");
  }
</script>