<% layout('layouts/layout') %> 
<%- include('../partials/carousel')  %> 
<%- include('../partials/navbar') %>

<div class="p-5 w-3/4 m-auto">
    <button
      class="text-gray-800 bg-transparent border border-solid border-gray-800 hover:bg-gray-800 hover:text-white active:bg-gray-900 font-bold uppercase text-sm px-6 py-3 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
      type="button">
      <a href="/spardha">Spardha 2021</a>
    </button>
    <button
      class="text-gray-800 bg-transparent border border-solid border-gray-800 hover:bg-gray-800 hover:text-white active:bg-gray-900 font-bold uppercase text-sm px-6 py-3 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
      type="button">
      Spardha 2020
    </button>
</div>


<div class="flex flex-col">
    <div class="my-2 overflow-x-auto sm:-mx-6 lg:-mx-6">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-800">
              <tr>
                <th scope="col" class="px-6 py-3 text-center text-sm font-medium text-gray-200 uppercase tracking-wider">
                  Club Name
                </th>
                <th scope="col" class="px-6 py-3 text-center text-sm font-medium text-gray-200 uppercase tracking-wider">
                  Date
                </th>
                <th scope="col" class="px-6 py-3 text-center text-sm font-medium text-gray-200 uppercase tracking-wider">
                  Time
                </th>
                <th scope="col" class="px-6 py-3 text-center text-sm font-medium text-gray-200 uppercase tracking-wider">
                  ScoreCard
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200"> 
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-center font-medium text-gray-800">
                    BasketBall
                  </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-center text-gray-500">
                  12 Nov 2021
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-center text-gray-500">
                  1730 hrs
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-center text-gray-500">
                  ScoreCard
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-center font-medium text-gray-800">
                    BasketBall
                  </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-center text-gray-500">
                  12 Nov 2021
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-center text-gray-500">
                  1730 hrs
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-center text-gray-500">
                  ScoreCard
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="what-we-do mt-24 ml-20 mb-12">
    <div class="grid grid-cols-2 gap-8">
  
  <div class="col-span-1 about-header mb-2">
    Photos
  </div>
</div>
</div>
<div class="grid grid-cols-3 gap-4 ml-8 mr-8 pb-32">

    <div class="shadow-md rounded-md overflow-hidden mb-2">
      <img src="https://source.unsplash.com/random/1280x720" style="width: 419px; height: 250px" alt="">
    </div>
  
    <div class="shadow-md rounded-md overflow-hidden mb-2">
      <img src="https://source.unsplash.com/random/1280x720" style="width: 419px; height: 250px" alt="">
    </div>
  
    <div class="shadow-md rounded-md overflow-hidden mb-2">
      <img src="https://source.unsplash.com/random/1280x720" style="width: 419px; height: 250px" alt="">
    </div>
  
    <div class="shadow-md rounded-md overflow-hidden mb-2">
      <img src="https://source.unsplash.com/random/1280x720" style="width: 419px; height: 250px" alt="">
    </div>
  
    <div class="shadow-md rounded-md overflow-hidden mb-2">
      <img src="https://source.unsplash.com/random/1280x720" style="width: 419px; height: 250px" alt="">
    </div>
  
    <div class="shadow-md rounded-md overflow-hidden mb-2">
      <img src="https://source.unsplash.com/random/1280x720" style="width: 419px; height: 250px" alt="">
    </div>
  
  </div>