<% layout('layouts/layout') %> 
<%- include('../partials/carousel')  %> 
<%- include('../partials/navbar') %>
<%- include('./description') %> 

<div class="flex flex-wrap mt-20 ml-20">

    <div class="about">
      <div class="about-header ">
        <h1>Alumni</h1>
      </div>
    </div>
</div>
<div class="grid grid-cols-3 gap-8 p-10">
    <div onclick="toggleModal('description-modal')" style="cursor: pointer;" class=" col-span-1 mb-4 flex flex-wrap pb-10 pt-4">
        <div class="shadow-md rounded-md overflow-hidden">
            <img src="https://source.unsplash.com/random/1280x720" style="width: 400px; height: 350px" alt="">
            <div class="p-4 event-text" style="width: 400px">
                <div class="grid grid-cols-3">
                    <div class="col-span-2 text-left text-2xl">Tony Stark</div>
                    <div class="col-span-1 text-right font-normal text-lg">Dean</div>
                </div>
                <div class="grid grid-cols-1">
                    <div class="grid grid-cols-1 divide-y divide-white"><br>
                        <div class="grid grid-cols-3">
                            <div class="col-span-1 text-left font-normal text-md">email@iitg.ac.in</div>
                            <div class="col-span-2 text-right font-normal text-md">+91 1234567890</div>
                        </div>
                    </div>
                </div>
                <br>
                <p class="mb-4 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
            </div>
        </div>
    </div>
    <div onclick="toggleModal('description-modal')" style="cursor: pointer;" class=" col-span-1 mb-4 flex flex-wrap pb-10 pt-4">
        <div class="shadow-md rounded-md overflow-hidden">
            <img src="https://source.unsplash.com/random/1280x720" style="width: 400px; height: 350px" alt="">
            <div class="p-4 event-text" style="width: 400px">
                <div class="grid grid-cols-3">
                    <div class="col-span-2 text-left text-2xl">Tony Stark</div>
                    <div class="col-span-1 text-right font-normal text-lg">Dean</div>
                </div>
                <div class="grid grid-cols-1">
                    <div class="grid grid-cols-1 divide-y divide-white"><br>
                        <div class="grid grid-cols-3">
                            <div class="col-span-1 text-left font-normal text-md">email@iitg.ac.in</div>
                            <div class="col-span-2 text-right font-normal text-md">+91 1234567890</div>
                        </div>
                    </div>
                </div>
                <br>
                <p class="mb-4 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
            </div>
        </div>
    </div>
    <div onclick="toggleModal('description-modal')" style="cursor: pointer;" class=" col-span-1 mb-4 flex flex-wrap pb-10 pt-4">
        <div class="shadow-md rounded-md overflow-hidden">
            <img src="https://source.unsplash.com/random/1280x720" style="width: 400px; height: 350px" alt="">
            <div class="p-4 event-text" style="width: 400px">
                <div class="grid grid-cols-3">
                    <div class="col-span-2 text-left text-2xl">Tony Stark</div>
                    <div class="col-span-1 text-right font-normal text-lg">Dean</div>
                </div>
                <div class="grid grid-cols-1">
                    <div class="grid grid-cols-1 divide-y divide-white"><br>
                        <div class="grid grid-cols-3">
                            <div class="col-span-1 text-left font-normal text-md">email@iitg.ac.in</div>
                            <div class="col-span-2 text-right font-normal text-md">+91 1234567890</div>
                        </div>
                    </div>
                </div>
                <br>
                <p class="mb-4 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
            </div>
        </div>
    </div>
    <div onclick="toggleModal('description-modal')" style="cursor: pointer;" class=" col-span-1 mb-4 flex flex-wrap pb-10 pt-4">
        <div class="shadow-md rounded-md overflow-hidden">
            <img src="https://source.unsplash.com/random/1280x720" style="width: 400px; height: 350px" alt="">
            <div class="p-4 event-text" style="width: 400px">
                <div class="grid grid-cols-3">
                    <div class="col-span-2 text-left text-2xl">Tony Stark</div>
                    <div class="col-span-1 text-right font-normal text-lg">Dean</div>
                </div>
                <div class="grid grid-cols-1">
                    <div class="grid grid-cols-1 divide-y divide-white"><br>
                        <div class="grid grid-cols-3">
                            <div class="col-span-1 text-left font-normal text-md">email@iitg.ac.in</div>
                            <div class="col-span-2 text-right font-normal text-md">+91 1234567890</div>
                        </div>
                    </div>
                </div>
                <br>
                <p class="mb-4 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
            </div>
        </div>
    </div>
    <div onclick="toggleModal('description-modal')" style="cursor: pointer;" class=" col-span-1 mb-4 flex flex-wrap pb-10 pt-4">
        <div class="shadow-md rounded-md overflow-hidden">
            <img src="https://source.unsplash.com/random/1280x720" style="width: 400px; height: 350px" alt="">
            <div class="p-4 event-text" style="width: 400px">
                <div class="grid grid-cols-3">
                    <div class="col-span-2 text-left text-2xl">Tony Stark</div>
                    <div class="col-span-1 text-right font-normal text-lg">Dean</div>
                </div>
                <div class="grid grid-cols-1">
                    <div class="grid grid-cols-1 divide-y divide-white"><br>
                        <div class="grid grid-cols-3">
                            <div class="col-span-1 text-left font-normal text-md">email@iitg.ac.in</div>
                            <div class="col-span-2 text-right font-normal text-md">+91 1234567890</div>
                        </div>
                    </div>
                </div>
                <br>
                <p class="mb-4 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
            </div>
        </div>
    </div>
    <div onclick="toggleModal('description-modal')" style="cursor: pointer;" class=" col-span-1 mb-4 flex flex-wrap pb-10 pt-4">
        <div class="shadow-md rounded-md overflow-hidden">
            <img src="https://source.unsplash.com/random/1280x720" style="width: 400px; height: 350px" alt="">
            <div class="p-4 event-text" style="width: 400px">
                <div class="grid grid-cols-3">
                    <div class="col-span-2 text-left text-2xl">Tony Stark</div>
                    <div class="col-span-1 text-right font-normal text-lg">Dean</div>
                </div>
                <div class="grid grid-cols-1">
                    <div class="grid grid-cols-1 divide-y divide-white"><br>
                        <div class="grid grid-cols-3">
                            <div class="col-span-1 text-left font-normal text-md">email@iitg.ac.in</div>
                            <div class="col-span-2 text-right font-normal text-md">+91 1234567890</div>
                        </div>
                    </div>
                </div>
                <br>
                <p class="mb-4 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
            </div>
        </div>
    </div>
    <div onclick="toggleModal('description-modal')" style="cursor: pointer;" class=" col-span-1 mb-4 flex flex-wrap pb-10 pt-4">
        <div class="shadow-md rounded-md overflow-hidden">
            <img src="https://source.unsplash.com/random/1280x720" style="width: 400px; height: 350px" alt="">
            <div class="p-4 event-text" style="width: 400px">
                <div class="grid grid-cols-3">
                    <div class="col-span-2 text-left text-2xl">Tony Stark</div>
                    <div class="col-span-1 text-right font-normal text-lg">Dean</div>
                </div>
                <div class="grid grid-cols-1">
                    <div class="grid grid-cols-1 divide-y divide-white"><br>
                        <div class="grid grid-cols-3">
                            <div class="col-span-1 text-left font-normal text-md">email@iitg.ac.in</div>
                            <div class="col-span-2 text-right font-normal text-md">+91 1234567890</div>
                        </div>
                    </div>
                </div>
                <br>
                <p class="mb-4 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
            </div>
        </div>
    </div>
    <div onclick="toggleModal('description-modal')" style="cursor: pointer;" class=" col-span-1 mb-4 flex flex-wrap pb-10 pt-4">
        <div class="shadow-md rounded-md overflow-hidden">
            <img src="https://source.unsplash.com/random/1280x720" style="width: 400px; height: 350px" alt="">
            <div class="p-4 event-text" style="width: 400px">
                <div class="grid grid-cols-3">
                    <div class="col-span-2 text-left text-2xl">Tony Stark</div>
                    <div class="col-span-1 text-right font-normal text-lg">Dean</div>
                </div>
                <div class="grid grid-cols-1">
                    <div class="grid grid-cols-1 divide-y divide-white"><br>
                        <div class="grid grid-cols-3">
                            <div class="col-span-1 text-left font-normal text-md">email@iitg.ac.in</div>
                            <div class="col-span-2 text-right font-normal text-md">+91 1234567890</div>
                        </div>
                    </div>
                </div>
                <br>
                <p class="mb-4 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
            </div>
        </div>
    </div>
    <div onclick="toggleModal('description-modal')" style="cursor: pointer;" class=" col-span-1 mb-4 flex flex-wrap pb-10 pt-4">
        <div class="shadow-md rounded-md overflow-hidden">
            <img src="https://source.unsplash.com/random/1280x720" style="width: 400px; height: 350px" alt="">
            <div class="p-4 event-text" style="width: 400px">
                <div class="grid grid-cols-3">
                    <div class="col-span-2 text-left text-2xl">Tony Stark</div>
                    <div class="col-span-1 text-right font-normal text-lg">Dean</div>
                </div>
                <div class="grid grid-cols-1">
                    <div class="grid grid-cols-1 divide-y divide-white"><br>
                        <div class="grid grid-cols-3">
                            <div class="col-span-1 text-left font-normal text-md">email@iitg.ac.in</div>
                            <div class="col-span-2 text-right font-normal text-md">+91 1234567890</div>
                        </div>
                    </div>
                </div>
                <br>
                <p class="mb-4 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
            </div>
        </div>
    </div>
</div> 